
li.list-group-item.toDoList:hover{
    color: #01FF22 ;
    background-color: #000000;
}

.toDoList{
    color: #111111;
}

.itemCheckbox:hover{
    cursor:pointer;
}

.listName:hover{
    cursor:default;
}