{% extends "SPA_base.html" %}

{% block ngApp %} ng-app="myApp"{% endblock %}

{% block additionalCSS %}
<link rel="stylesheet" href="/static/toDoList_viewer.css">
{% endblock %}

{% block mainController %} ng-controller="MyAppController"{% endblock %}

{% block mainRow %}
   <div class="row">
      <div class="col-xs-4">
	<h3>{{ userName }}'s lists:</h3>

	<div ng-controller="ToDoListsController">
	  <ul class="list-group">
	    <li class="list-group-item clearfix toDoList" ng-repeat="toDoList in toDoLists" ng-click="toDoClick($index)">
	      {{ '{{ toDoList.name }}' }}
	      <span class="pull-right">
		<span class="badge"> {{ '{{getChecked($index) }}' }}/{{ '{{ getTotal($index) }}'  }}</span>
	      </span>
	    </li>
	  </ul>
	</div>	

      </div> <!-- end col-->
      <div class="col-xs-2">
      </div>
      <div class="col-xs-3">	
	<span>
	  <h4>{{ '{{ selectedListName }}' }}:</h4>
	</span>

	<div ng-controller="ToDoItemsController">
	  <ul class="list-group">
	    <li class="list-group-item task" ng-repeat="item in items">
	      <span class="glyphicon glyphicon-{{ '{{ checkMark($index) }}' }} pull-left">
	      </span>
		{{ '{{ item.task }}' }}
	    </li>
	  </ul>
	</div>

      </div>
    </div>
{% endblock %}

{% block additionalJS %}
  <script src="/static/js/SPA_viewer.js"></script>
{% endblock %}
