<!DOCTYPE HTML>
<html ng-app="myApp">
<head>

<link rel="stylesheet" href="/static/toDoList.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body ng-controller="MyAppController">
  <div class="container-fluid" style="background:red">
    <div class="row">
      <div class="col-xs-3">
	<h2>To-Do Lists</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="New To Do List" ng-model="newListName">
	  <span class="input-group-btn">
	    <button class="btn" ng-click="addListClick(newListName)">
	      <span class="glyphicon glyphicon-plus"></span>
	    </button>
	  </span>
	</div>

	<div ng-controller="ToDoListsController">
	  <ul class="list-group">
	    <li class="list-group-item clearfix toDoList" ng-repeat="toDoList in toDoLists" ng-click="toDoClick($index)">
	      {{ '{{ toDoList.name }}' }}
	      <span class="pull-right">
		<span class="badge"> {{ '{{getChecked($index) }}' }}/{{ '{{ getTotal($index) }}'  }}</span>
		<button class="btn" ng-click="removeListClick($index)"><span class="glyphicon glyphicon-remove"></span></button>
	      </span>
	    </li>
	  </ul>
	</div>	

      </div> <!-- end col-->

      <div class="col-xs-4">	
	<ul class="list-group center-block">
	  <li class="list-group-item">
	    <span class="glyphicon glyphicon-list listName"></span>
	    <span class="text-center listName">{{ '{{ selectedListName }}' }}</span>
	  </li>
	</ul>

	<div class="input-group">
	  <span class="input-group-addon">
	    <span class="glyphicon glyphicon-plus" style="visibility:hidden"></span>
	  </span>
	  <input type="text" class="form-control" ng-model="newItemName" placeholder="Add New Item">
	  <span class="input-group-btn">
	    <button class="btn" ng-click="addItemClick(newItemName)">
	      <span class="glyphicon glyphicon-plus"></span>
	    </button>
	  </span>	  
	</div>

	<div ng-controller="ToDoItemsController">
	  <div class="input-group" ng-repeat="item in items">
	    <span class="input-group-addon" >
	      <span class="glyphicon glyphicon-{{ '{{ checkMark($index) }}' }} itemCheckbox" ng-click="checkClick($index)"></span>
	    </span>
	    <input type="text" class="form-control" value="{{ '{{ item.name }}' }}" />
	    <span class="input-group-btn">
	      <button class="btn" ng-click="itemRemoveClick($index)">
		<span class="glyphicon glyphicon-remove"></span>
	      </button>
	    </span>	  
	  </div>
	</div>

      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
  <script src="/static/js/SPA_editor.js"></script>
</body>
</html>
